header {
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    margin-right: 20px;
    text-decoration: none;
    color: burlywood;
    font-weight: bold;
}
.menu-link:hover {
    color: blueviolet;
}